<div id="menu">
  <div>
    <a href="/home">Home</a>
    <a href="/add-post">Add Blog Post</a>
    <a href="/view-all-posts">View All Posts</a>
    <!-- <a href="/login">Login</a>
    <a href="/register">Register</a> -->
  </div>
  <div>
    <!-- <form action="/signout" method="POST">
      <button type="submit">Sign Out</button>
    </form> -->
  </div>
</div>
