<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Home</title>
  </head>
  <body>
    <div>
      {{>menu}}
      <div>
        <h2>This is a blog about certain coding languages.</h2>
      </div>
    </div>
  </body>
